In [1]:
x=[1,'ABC',2.3,4+6J,0.01]

In [2]:
x[0:3]

[1, 'ABC', 2.3]

In [14]:
x[-4:-0]

[]

In [7]:
y=(3,'allu', 2+5j)

In [8]:
y

(3, 'allu', (2+5j))

In [11]:
y[2]

(2+5j)

In [15]:
x[-1:-2]

[]

In [44]:
z = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "thi"]
print(z[-4:-1])

['orange', 'kiwi', 'melon']

In [45]:
z.remove('banana')

In [46]:
for x in z :
 print(x)

apple
cherry
orange
kiwi
melon
thi

In [47]:
z

['apple', 'cherry', 'orange', 'kiwi', 'melon', 'thi']

In [48]:
z.pop()

'thi'

In [49]:
z

['apple', 'cherry', 'orange', 'kiwi', 'melon']

In [50]:
print(z.pop())

melon

In [51]:
del z[0]

In [52]:
z

['cherry', 'orange', 'kiwi']

In [53]:
z.pop(1)

'orange'

In [54]:
z

['cherry', 'kiwi']

In [55]:
z.insert(len(z)-1,'allu')

In [56]:
z

['cherry', 'allu', 'kiwi']

In [57]:
y=[1,2,3,4]

In [59]:
a=z+y

In [60]:
a

['cherry', 'allu', 'kiwi', 1, 2, 3, 4]

In [63]:
z.sort()

In [64]:
z

['allu', 'cherry', 'kiwi']

In [68]:
s="sai"

In [69]:
s[0]='a'

TypeError: 'str' object does not support item assignment

In [8]:
x = ['apple', 'sai', 'cherry']
y = x
y[1] = "kiwi"
print(x)

['apple', 'kiwi', 'cherry']

In [71]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [16]:
x = {"apple", "banana", "cherry"}
type(x)

set

In [74]:
x.add("sai")

In [75]:
x

{'apple', 'banana', 'cherry', 'sai'}

In [76]:
x.pop()

'apple'

In [78]:
x[0]

TypeError: 'set' object does not support indexing

In [79]:
x.append(1)

AttributeError: 'set' object has no attribute 'append'

In [87]:
d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [88]:
for x in thisdict:
 print(x)

brand
model
year

In [89]:
d[1]

KeyError: 1

In [91]:
d.popitem()

('year', 1964)

In [100]:
rating=9

In [98]:
if (movie>7) :
 print("HIT")
else:
 print("NOT HIT")

HIT

In [101]:
if rating>8 :
 print("SUPER HIT")
elif rating>=5 & rating<=8:
 print("HIT")
else:
 print("NOT HIT")

SUPER HIT

In [103]:
num_1=-1.51
if num_1>0:
 print ("+ve")
elif num_1<0:
 print ("-ve")
else:
 print(0)

-ve

In [105]:
category='A'
if category=='A':
    print(3*1570*(108)/100)
elif category=='B':
    print(3*1600*(110)/100)
else:
    print(2*145*(118)/100)

5086.8

In [106]:
a = ["apple", "banana", "cherry"]

In [107]:
b=a

In [108]:
b

['apple', 'banana', 'cherry']

In [109]:
a[0]=1

In [110]:
a

[1, 'banana', 'cherry']

In [111]:
b

[1, 'banana', 'cherry']

In [9]:
category_products={'A': ['p1','p2','p3'] , 'B':['p4','p5','p6'] , 'C' :['p7','p8'] }

category_prices={'A': 1570 , 'B': 1600 , 'C' :145}

category_gst={'A': 8 , 'B': 10 , 'C' :18}

print("Category     Total-Price")

for x in category_products :
    price         =     category_prices[x]
    products      =     category_products[x]
    no_of_products=     len(products)
    gst           =     category_gst[x]
    total_price   =     no_of_products  *  price
    total_price_with_gst= total_price   + (total_price * gst)/100
    print("------------------------------")
    print(x,"              " ,total_price_with_gst)

Category     Total-Price
------------------------------
A                5086.8
------------------------------
B                5280.0
------------------------------
C                342.2

In [121]:
x=[1,2,3,4,5,6,7,8]

even_count=0
for y in x:
 if y%2==0:
    even_count=even_count+
print(even_count)

print(len(x)-even_count)

SyntaxError: invalid syntax (<ipython-input-121-436d44b27db2>, line 6)

In [10]:
val = input("Enter your value: ") 
print(val)

Enter your value: 1
1

In [ ]:
num = int(input("Enter your value: "))
sum=0
i=1
while (i<=num):
    sum+=i
    i=i
print (sum)

Enter your value: 5

In [1]:
import pandas as pd