In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import  tree,metrics

In [16]:
data=pd.read_csv('car.data', names=['buying', 'maint','doors','persons','lug_boot','safety','class'])

In [17]:
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [19]:
data['buying'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [21]:
#it return two values
data['buying'],_=pd.factorize(data['buying'])

In [22]:
data['buying'].unique()

array([0, 1, 2, 3], dtype=int64)

In [24]:
for x in data:
    data[x],_=pd.factorize(data[x])

In [25]:
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [26]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=3)

In [28]:
x_train.shape

(1209, 6)

In [29]:
x_test.shape

(519, 6)

In [52]:
dtree=tree.DecisionTreeClassifier()

In [53]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [86]:
dtree=tree.DecisionTreeClassifier(criterion='gini',max_depth=4,random_state=3)

In [87]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=3, splitter='best')

In [88]:
y_pred=dtree.predict(x_test)

In [89]:
metrics.accuracy_score(y_pred,y_test)

0.8265895953757225

#increase the depth of the tree increases the accuracy for this data set ....but if new datset comes then itnot show good results
This is called over fitting

Decisoin tree gives Over fitting results so Random forest came into force.

In [91]:
dtree.fit(,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=30, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [92]:
metrics.accuracy_score(y_pred,y_test)

0.8265895953757225