In [1]:
val = int(input("Enter your value: "))

Enter your value: 3

In [1]:
val = int(input("Enter your value: "))
val1= int(input("Enter your value: "))

Enter your value: 4
Enter your value: 4

In [3]:
num = int(input("Enter your value: "))
sum=0
i=1
while (i<=num):
    sum+=i
    i=i+1
    
print (sum)

Enter your value: 3
6

In [6]:
val=1

while (val<=7):
 print(val)
 val=val+1

1
2
3
4
5
6
7

In [12]:
safe_speed=30
speed=84
count=0
while(speed>safe_speed):
  count=count+1;
  speed=speed-5
print(count ,"Final Speed =",speed)

11 Final Speed = 29

In [31]:
s="INDIA"
for x in s :
 if(x=='D') :
      continue;
 print(x)

In [32]:
#functions

In [35]:
def my_function(*kids):
  print("The youngest child is " + kids[1])
my_function("Emil", "Tobias")

The youngest child is Tobias

In [38]:
def add_3_numbers(a,b,c):
 sum=a+b+c
 return (sum,sum**2)

print(2,3,5,add_3_numbers(2,3,5))

2 3 5 (10, 100)

*K ARGUMENTS (tuple of arguments)

In [46]:
def sum1(*a):
 val=0
 for x in a:
    val+=x
 return val

sum1(2,3,5)

10

In [ ]:
def sum1(**a):
 val=0
 for x in a:
    val+=a[x]
 return val

sum1(a=2,b=3,d=5)

In [51]:
def f(x,y):
 return y*((x+2)**(y-1))

print("f(2,3) = ",f(2,3),"   ","f(4,5) = ",f(4,5) )

TypeError: 'int' object is not callable

In [48]:
f(2,3)

48

PANDAS

In [2]:
import pandas as pd

In [ ]:
#Series
pandas.Series( data, index, dtype, copy)
data=data takes various forms like ndarray, list, constants
Index=Index values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.
dtype=dtype is for data type. If None, data type will be inferred

In [3]:
d1=[1,2,3,4]

In [6]:
s1=pd.Series(d1)

In [7]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s2=pd.Series(d1,index=['a','b','c','d'])

In [5]:
s2

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
#DATA FRAME

In [9]:
df1=pd.DataFrame(d1)

In [10]:
df1

   0
0  1
1  2
2  3
3  4

In [11]:
dict1={'fruit':['Apple','Mango','Banana'],'count':[10,11,12]}

In [12]:
df2=pd.DataFrame(dict1)

In [13]:
df2

    fruit  count
0   Apple     10
1   Mango     11
2  Banana     12

In [16]:
s3=pd.Series(dict1)

In [17]:
s3

fruit    [Apple, Mango, Banana]
count              [10, 11, 12]
dtype: object

In [18]:
s3[0]

['Apple', 'Mango', 'Banana']

In [23]:
df2=[0]["fruit"]

TypeError: list indices must be integers or slices, not str


Adding autocomplete feature to jupyter notebook

step 1: Open anaconda prompt and run the following commands

 1) pip install jupyter_contrib_nbextensions
 2) pip install jupyter_nbextensions_configurator
 3) jupyter contrib nbextension install --user 
 4) jupyter nbextensions_configurator enable --user


step 2: Open jupyter notebook
 - click on nbextensions tab
 - unckeck disable configuration for nbextensions without explicit compatibility
 - put a check on Hinterland


step 3: Open new python file and check autocomplete feature

In [1]:
import pandas as pd