In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [75]:
data=pd.read_csv("banking.csv")

In [76]:
data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [78]:
from sklearn import preprocessing

In [79]:
le=preprocessing.LabelEncoder()

In [80]:
new_data=pd.DataFrame()
for x in data:
 if(type(data[x][0])==str):
    data[x]=le.fit_transform(data[x])

In [81]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,1,1,0,1,2,0,0,1,2,...,1,999,0,1,1.4,93.444,-36.1,4.963,5228.1,0
1,53,9,1,7,0,0,0,0,7,0,...,1,999,0,1,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,4,2,6,0,2,0,0,4,2,...,3,6,2,2,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,7,1,3,0,0,0,0,0,0,...,2,999,0,1,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,5,1,0,0,2,0,0,1,0,...,1,3,1,2,-2.9,92.201,-31.4,0.869,5076.2,1

In [82]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [83]:

Navies_model=GaussianNB()
Navies_model.fit(x_train,y_train)
y_pred=Navies_model.predict(x_test)

In [84]:
metrics.accuracy_score(y_test,y_pred)

0.8473739580804402

In [55]:
metrics.precision_score(y_test,y_pred)

0.40149393090569563

In [56]:
metrics.recall_score(y_test,y_pred)

0.587431693989071

In [57]:
y.value_counts()

0    36548
1     4640
Name: y, dtype: int64

# WE CAN APPLY SMOTE AS WELL .... it is important for a bank bcoz bank should not to miss a chance of givning loan customer who can pay the loan

In [58]:
data.corr()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
age,1.000000,0.001250,-0.389753,-0.117892,0.164965,-0.001603,-0.007368,0.007021,-0.024877,-0.017572,...,0.004594,-0.034369,0.024365,0.019750,-0.000371,0.000857,0.129372,0.010767,-0.017725,0.030399
job,0.001250,1.000000,0.027897,0.134121,-0.028277,0.006962,-0.010209,-0.025132,-0.033213,-0.000844,...,-0.006923,-0.028468,0.020965,0.011504,-0.008271,-0.016017,0.052760,-0.007880,-0.019574,0.025122
marital,-0.389753,0.027897,1.000000,0.109220,-0.079450,0.010467,0.005788,-0.054501,-0.007629,0.002202,...,-0.007240,-0.037942,0.038689,0.001912,-0.084210,-0.057477,-0.033783,-0.091939,-0.086199,0.046203
education,-0.117892,0.134121,0.109220,1.000000,-0.186859,0.016825,0.006384,-0.105726,-0.082684,-0.017986,...,0.000371,-0.046626,0.038831,0.017009,-0.043778,-0.081607,0.078799,-0.036380,-0.041492,0.057799
default,0.164965,-0.028277,-0.079450,-0.186859,1.000000,-0.015815,-0.003782,0.135238,-0.015830,-0.008701,...,0.032825,0.080062,-0.102416,0.023417,0.203263,0.168073,0.026522,0.195336,0.189845,-0.099352
housing,-0.001603,0.006962,0.010467,0.016825,-0.015815,1.000000,0.044296,-0.082186,-0.018141,0.003339,...,-0.011010,-0.010551,0.021314,-0.011783,-0.060196,-0.080504,-0.033845,-0.059277,-0.045862,0.011552
loan,-0.007368,-0.010209,0.005788,0.006384,-0.003782,0.044296,1.000000,-0.008556,-0.005705,-0.009344,...,0.005166,0.000345,-0.001327,-0.001511,0.001849,-0.002430,-0.012025,0.000125,0.003903,-0.004909
contact,0.007021,-0.025132,-0.054501,-0.105726,0.135238,-0.082186,-0.008556,1.000000,0.276565,-0.009575,...,0.077368,0.117970,-0.212848,0.118744,0.393584,0.591474,0.251614,0.399773,0.269155,-0.144773
month,-0.024877,-0.033213,-0.007629,-0.082684,-0.015830,-0.018141,-0.005705,0.276565,1.000000,0.027677,...,-0.062059,-0.047891,0.103157,-0.065012,-0.178782,-0.004239,0.009652,-0.117264,-0.221425,-0.006065
day_of_week,-0.017572,-0.000844,0.002202,-0.017986,-0.008701,0.003339,-0.009344,-0.009575,0.027677,1.000000,...,-0.038288,-0.009531,-0.004102,0.018732,0.033245,0.005644,0.041465,0.039043,0.028380,0.015967
duration,-0.000866,-0.006490,0.010290,-0.015102,-0.011794,-0.007658,-0.000916,-0.026657,0.003690,0.021950,...,-0.071699,-0.047577,0.020640,0.033360,-0.027968,0.005312,-0.008173,-0.032897,-0.044703,0.405274
campaign,0.004594,-0.006923,-0.007240,0.000371,0.032825,-0.011010,0.005166,0.077368,-0.062059,-0.038288,...,1.000000,0.052584,-0.079141,0.032586,0.150754,0.127836,-0.013733,0.135133,0.144095,-0.066357
pdays,-0.034369,-0.028468,-0.037942,-0.046626,0.080062,-0.010551,0.000345,0.117970,-0.047891,-0.009531,...,0.052584,1.000000,-0.587514,-0.475619,0.271004,0.078889,-0.091342,0.296899,0.372605,-0.324914
previous,0.024365,0.020965,0.038689,0.038831,-0.102416,0.021314,-0.001327,-0.212848,0.103157,-0.004102,...,-0.079141,-0.587514,1.000000,-0.313110,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333,0.230181
poutcome,0.019750,0.011504,0.001912,0.017009,0.023417,-0.011783,-0.001511,0.118744,-0.065012,0.018732,...,0.032586,-0.475619,-0.313110,1.000000,0.192972,0.211330,0.178289,0.184144,0.119689,0.129789
emp_var_rate,-0.000371,-0.008271,-0.084210,-0.043778,0.203263,-0.060196,0.001849,0.393584,-0.178782,0.033245,...,0.150754,0.271004,-0.420489,0.192972,1.000000,0.775334,0.196041,0.972245,0.906970,-0.298334
cons_price_idx,0.000857,-0.016017,-0.057477,-0.081607,0.168073,-0.080504,-0.002430,0.591474,-0.004239,0.005644,...,0.127836,0.078889,-0.203130,0.211330,0.775334,1.000000,0.058986,0.688230,0.522034,-0.136211
cons_conf_idx,0.129372,0.052760,-0.033783,0.078799,0.026522,-0.033845,-0.012025,0.251614,0.009652,0.041465,...,-0.013733,-0.091342,-0.050936,0.178289,0.196041,0.058986,1.000000,0.277686,0.100513,0.054878
euribor3m,0.010767,-0.007880,-0.091939,-0.036380,0.195336,-0.059277,0.000125,0.399773,-0.117264,0.039043,...,0.135133,0.296899,-0.454494,0.184144,0.972245,0.688230,0.277686,1.000000,0.945154,-0.307771
nr_employed,-0.017725,-0.019574,-0.086199,-0.041492,0.189845,-0.045862,0.003903,0.269155,-0.221425,0.028380,...,0.144095,0.372605,-0.501333,0.119689,0.906970,0.522034,0.100513,0.945154,1.000000,-0.354678
y,0.030399,0.025122,0.046203,0.057799,-0.099352,0.011552,-0.004909,-0.144773,-0.006065,0.015967,...,-0.066357,-0.324914,0.230181,0.129789,-0.298334,-0.136211,0.054878,-0.307771,-0.354678,1.000000

In [85]:
# euribor3m and  emp_var_rate have 0.97 ....

data=data.drop(['euribor3m'], axis=1)

In [86]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

Navies_model=GaussianNB()
Navies_model.fit(x_train,y_train)
y_pred=Navies_model.predict(x_test)

metrics.accuracy_score(y_test,y_pred)

0.8502063607671765

In [87]:
#accuracy increased

In [88]:
data=data.drop(['nr_employed'], axis=1)

In [89]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

Navies_model=GaussianNB()
Navies_model.fit(x_train,y_train)
y_pred=Navies_model.predict(x_test)

metrics.accuracy_score(y_test,y_pred)

0.8528769118718136

In [ ]:
#slightly increased